button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

button:hover {
    background-color: #f1f1f1;
    color: #333;
}

.FilterButton {
    font-size: 17px;
    font-weight: bold;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 20px;
}

.SearchInput {
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 5px 15px;
    width: 300px;
}

.SearchInput input {
    font-size: 17px;
    width: 85%;
    color: #000;
    border: none;
    background-color: #f1f1f1;
    padding-left: 10px;

    &:focus {
        border: none;
        outline: none;
    }
}

.BarsButton {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 30px;
}


.UserButton {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 30px;
}

.OnSaleSwitch {
    font-size: 17px;
    font-weight: bold;
    font-family: inherit;
    padding-right: 10px;
}

.slider {
    width: 100px;
    height: 10px;
    display: inline-block;
}

